.register {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 6em;
  // width: 350px;
  .register-form {
    text-align: center;
    a {
      font-size: medium;
    }
  }
}
