.footer {
  border-radius: 10px 10px 0px 0px;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-shadow: 0px -6px 29px -2px rgba(114, 9, 105, 0.581);
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 3.5em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  nav {
    a {
      all: unset;
      cursor: pointer;
      color: rgb(255, 255, 255);
      font-size: 20px;
      &:hover {
        color: rgba(166, 6, 139, 0.682);
      }
    }
    display: flex;
    justify-content: space-around;
  }
}
